*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!example/HelloWorldFunction/gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven build
target/
native-libs/

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/


######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath

# External tool builders
.externalToolBuilders/**

######################
# Visual Studio Code
######################
.vscode/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/
/dist/
/site/

######################
# Logs
######################
*.log*

######################
# Others
######################
*.*~
*~
.merge_file*

docs/node_modules
docs/.cache
docs/public
/example/.aws-sam/
/example/HelloWorldFunction/.aws-sam/
samconfig.toml
example/HelloWorldFunction/.gradle
example/HelloWorldFunction/build
/example/.gradle/
/example/.java-version
.gradle
build/
.terraform*
terraform.tfstate*

powertools-idempotency/dynamodb-local-metadata.js