site_name: Powertools for AWS Lambda (Java) Preview
site_description: Powertools for AWS Lambda (Java) Preview
site_author: Amazon Web Services
site_url: https://docs.powertools.aws.dev/lambda/java/preview/
nav:
  - Homepage: index.md
  - Changelog: changelog.md
  - FAQs: FAQs.md
  - Roadmap: roadmap.md
  - Core utilities:
      - core/logging.md
      - core/tracing.md
      - core/metrics.md
  - Utilities:
      - utilities/idempotency.md
      - utilities/parameters.md
      - utilities/large_messages.md
      - utilities/batch.md
      - utilities/validation.md
      - utilities/custom_resources.md
      - utilities/serialization.md
  - Processes:
      - processes/maintainers.md
      - "Versioning policy": processes/versioning.md
  - Resources:
      - "llms.txt": ./llms.txt
      - "llms.txt (full version)": ./llms-full.txt

theme:
  name: material
  font:
    text: Ubuntu
  palette:
    - scheme: default
      primary: deep purple
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github
  logo: media/aws-logo-light.svg
  favicon: media/aws-logo-light.svg
  custom_dir: docs/overrides

markdown_extensions:
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.snippets:
      base_path: "."
      check_paths: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - meta
  - toc:
      permalink: true
      toc_depth: 4
  - attr_list

copyright: Copyright &copy; 2021 Amazon Web Services

plugins:
  - git-revision-date
  - search
  - macros
  - privacy
  - llmstxt:
      markdown_description: Powertools for AWS Lambda (Java) is a developer toolkit to implement Serverless best practices and increase developer velocity. It provides a suite of utilities for AWS Lambda Functions that makes tracing with AWS X-Ray, structured logging and creating custom metrics asynchronously easier.
      full_output: llms-full.txt
      sections:
        Project Overview:
          - index.md
          - changelog.md
          - FAQs.md
          - roadmap.md
        Core Utilities:
          - core/logging.md
          - core/metrics.md
          - core/tracing.md
        Utilities:
          - utilities/idempotency.md
          - utilities/parameters.md
          - utilities/large_messages.md
          - utilities/batch.md
          - utilities/validation.md
          - utilities/custom_resources.md
          - utilities/serialization.md
        Processes:
          - processes/maintainers.md

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascript/aws-amplify.min.js
  - javascript/extra.js

extra:
  powertools:
    version: 2.0.0-SNAPSHOT

repo_url: https://github.com/aws-powertools/powertools-lambda-java
edit_uri: edit/main/docs
