<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="JsonAppender" fileName="target/logfile.json">
            <JsonTemplateLayout eventTemplateUri="classpath:LambdaJsonLayout.json" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="JsonLogger" level="INFO" additivity="false">
            <AppenderRef ref="JsonAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="JsonAppender"/>
        </Root>
    </Loggers>
</Configuration>