<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="software.amazon.lambda.powertools.logging.logback.LambdaJsonEncoder" />
    </appender>

    <appender name="BufferedAppender" class="software.amazon.lambda.powertools.logging.logback.BufferingAppender">
        <bufferAtVerbosity>DEBUG</bufferAtVerbosity>
        <maxBytes>8</maxBytes>
        <appender-ref ref="JsonAppender" />
    </appender>

    <root level="DEBUG">
        <appender-ref ref="BufferedAppender" />
    </root>
</configuration>
