<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2">
    <Appenders>
        <LambdaJsonAppender name="LambdaJsonAppender" />
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LambdaJsonAppender" />
        </Root>
    </Loggers>
</Configuration>