# Check for Spotbug errors
#
# Description:
#   Runs Spotbugs for a pull request.
#   This does not error on failure yet, our rules are too strong and would fail on every run
# 
# Triggers:
#   - pull_request
on:
  pull_request:
    branches:
      - main
    paths:
      - 'powertools-batch/**'
      - 'powertools-core/**'
      - 'powertools-cloudformation/**'
      - 'powertools-common/**'
      - 'powertools-e2e-tests/**'
      - 'powertools-idempotency/**'
      - 'powertools-large-messages/**'
      - 'powertools-logging/**'
      - 'powertools-metrics/**'
      - 'powertools-kafka/**'
      - 'powertools-parameters/**'
      - 'powertools-serialization/**'
      - 'powertools-sqs/**'
      - 'powertools-tracing/**'
      - 'powertools-tracing/**'
      - 'powertools-validation/**'
      - 'powertools-test-suite/**'
      - 'pom.xml'
      - '.github/workflows/**'

name: SpotBugs
run-name: SpotBugs 

permissions:
    contents: read

jobs:
  codecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'corretto'
          java-version: 21
      - name: Build with Maven for spotbugs check to mark build as fail if voilations found
        run: mvn -Pbuild-with-spotbugs -B install --file pom.xml -DskipTests -Dmaven.javadoc.skip=true -Dspotbugs.failOnError=true
