# Runs PMD for a Pull Request
#
# Description:
#   Runs PMD (pmd.github.io) for a pull request and daily. 
#   This does not error on failure yet, our rules are too strong and would fail on every run
# 
# Triggers:
#   - pull_request
#   - workflow_dispatch
#   - cron: every day at 12:00PM

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *' # Run daily at 12:00 UTC
    
name: PMD
run-name: PMD - ${{ github.event_name }}

permissions:
  contents: read

jobs:
  pmd_analyse:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 21
          distribution: corretto
          cache: maven
      - uses: pmd/pmd-github-action@d9c1f3c5940cbf5923f1354e83fa858b4496ebaa # v2.0.0
        with:
          rulesets: '.github/pmd-ruleset.xml'
          token: ${{ secrets.GITHUB_TOKEN }}