# Generates release notes
#
# Description:
#   Generates release notes based on pull request history. This is based on the config
#   stored in .github/release-drafter.yml
#
# Triggers:
#   - push: main

on:
  push:
    branches: [ main ]

name: Release Drafter
run-name: Release Drafter

jobs:
  update_release:
    runs-on: ubuntu-latest  
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Relase Drafter
        uses: release-drafter/release-drafter@267d2e0268deae5d44f3ba5029dd4d6e85f9d52d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}