# Generates release notes
#
# Description:
#   Generates release notes based on pull request history. This is based on the config
#   stored in .github/release-drafter.yml
#
# Triggers:
#   - push: main

on:
  push:
    branches: [ main ]

name: Release Drafter
run-name: Release Drafter

permissions: {}

jobs:
  update_release:
    runs-on: ubuntu-latest  
    permissions:
      contents: write  # required for creating draft releases
    steps:
      - name: Relase Drafter
        uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
