name: Run end-to-end tests

on:
  workflow_dispatch:

  push:
    branches: [master]
    paths: # add other modules when there are under e2e tests
      - 'powertools-e2e-tests/**'
      - 'powertools-core/**'
      - 'powertools-serialization/**'
      - 'powertools-logging/**'
      - 'powertools-tracing/**'
      - 'powertools-idempotency/**'
      - 'powertools-metrics/**'
      - 'pom.xml'
      - '.github/workflows/**'

jobs:
  e2e:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        java: [ 8, 11 ]
    name: End-to-end tests ${{ matrix.java }}
    env:
      JAVA_VERSION: ${{ matrix.java }}
      AWS_DEFAULT_REGION: eu-west-1
    permissions:
      id-token: write # needed to interact with GitHub's OIDC Token endpoint.
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: 'corretto'
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_TO_ASSUME }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
      - name: Run e2e test with Maven
        run: mvn -Pe2e -B verify --file powertools-e2e-tests/pom.xml